APP_NAME="CS2Panel"
APP_ENV=production
APP_KEY=base64:7e49e29a8a705b4a8e235d648b2914758e72b49c7162=
APP_DEBUG=false
APP_URL=https://cs2.hfl-nodes.pro

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file

STEAM_API_KEY=YOUR_STEAM_WEB_API_KEY
STEAM_REDIRECT_URL=https://cs2.hfl-nodes.pro/auth/steam/callback
FRONTEND_URL=https://cs2.hfl-nodes.pro

SANCTUM_STATEFUL_DOMAINS=cs2.hfl-nodes.pro,localhost:3002,127.0.0.1:3002,localhost:8005,127.0.0.1:8005,localhost,127.0.0.1
